{% extends "layout.html" %}
{% block content %}

<!-- STAGE STATUS-->
<div id="idDivStageStatus" style='display: block; overflow: hidden;'>
    <center>
        <h6 id="idStageSoundState"></h6>
    </center>
</div>


<!-- STAGE -->
<div id="idDivStage" style="display: none; overflow: hidden;">
</div>

<!-- LAUNCH PAGE -->
<div id='idMainName'>
    <center>
        <div id='bg' style="background-image: url('static/images/singingBirdBackground2980.png'); opacity:0.3; background-position:center;"></div>        
        <div>
            <h1>BirdSong Box</h1>
        </div>

        <div style="max-width: 400px; min-width: 270px; overflow:hidden;">
            <div id="idSoloOnDemandButton">
                <i id="idSoloOnDemandIcon" class="fas fa-dove" style="color: rgb(79, 17, 212); font-size: 140px; width: 50%; float: left;"
                    aria-hidden="true"></i>
            </div>
            <div id="idSymphonyOnDemandButton">
                <i id="idSymphonyOnDemandIcon" class="fab fa-earlybirds"
                    style="color: rgb(17, 62, 212); font-size: 140px; width: 50%; float: right;" aria-hidden="true"></i>
            </div>
            <br><br>
            <div style="width:50%; float: left; font-size: 16px;"><b><i>Solo</i></b></div>
            <div style="width:50%; float: right; font-size: 16px;"><b><i>Symphony</i></b></div>
        </div>

        <br>
        <h6>v 1.0</h6>
    </center>
</div>

{% endblock %}