{% extends "layout.html" %}
{% block content %}

    <!-- STAGE STATUS-->
    <div id="idDivStageStatus" style='display: block; overflow: hidden;'>
        <center>
            <p id="idStageSoundState"></p>
        </center>
    </div>

    <!-- STAGE -->
    <div id="idDivStage" style='display: none; overflow: hidden;'>
    </div>

    <!-- LAUNCH PAGE -->
    <div id='idMainName'>
        <center>
            <div>
                <h1>BirdSong Box</h1>
            </div>
            <h5>v 1.0</h5>
            <!--h4 id='idDdInfo'>39 sounds</h4-->
            <hr>
        </center>

        <div>
            <a href="onDemand.json">Request OnDemand</a>
            <!--p class="indent25">Example of a tab</p-->
        </div>
    </div>

{% endblock %}    