<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BirdBox</title>
    <meta name="description" content="BirdBox">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div id="idDivStage" style='display: none;'>
        <center>
            <p id="idStageSoundState"></p>
            <h2 id="idStageName"></h2> <!-- Name -->
            <img id="idStageImage" src="" alt="Stage Image" width="100%" height="auto">
        </center>
        <h6 id="idStageImageDesc"></h6> <!-- Image description -->
        <p id="idStageAudioDesc"></p> <!-- Audio Description -->
        <p id="idStageAudioType"></p> <!-- Audio Type -->

        <p id="idStageLocation"></p> <!-- Location -->
        <p id="idStageDuration"></p> <!-- Duration -->
        <p id="idStageCredits"></p> <!-- Credits -->
        <center>
            <hr>
            <p>Listen on this device</p>
            <audio id="idAudio" controls>
                <source id="idAudioSrcMp3" src="" type="audio/mp3">
            </audio>
        </center>
    </div>
    
    <center>
        <h1>
            <div id='header1'>Const Volatile</div>
        </h1>
        <hr>
    </center>

    <div>
        <a href="onDemand.json">Request OnDemand</a>
        <!--p class="indent25">Example of a tab</p-->
    </div>

    <!-- js includes-->
    {{ jsInclude|safe }}    

</body>

</html>