.codeFont {
    font-family: monospace;
    color: green
}

body {
    margin: 0px;
    max-width: 950px;
}

/*****************************************/

#idDivHeader {
    background: rgb(120,0,120);
    color: white;
    overflow: hidden;
    /*position: fixed;*/
    width: 100%;
    /*position: fixed;
    left: 0;
    top: 0;
    display: inline-block;*/
}

#idHeader {
    margin: 0px;
}
#header-left {
    padding-left: 15px;
    float: left;
    text-align: center;
    vertical-align: middle;
}
#header-right {
    padding-right: 15px;
    float: right;
    text-align: center;
    vertical-align: middle;
}
#header-center {
    /*overflow: hidden;*/
    text-align: center;
    vertical-align: middle;
}

/*****************************************/

#idDivStage, #idDivStageStatus {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #e8f8ff;
}

#idMainName {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 80px;
    padding-bottom: 60px;
    text-align: center;
    font-size: 200%;
    font-stretch: expanded;
}

/*#####################################*/
.container {
    position: relative;
    border-radius: 5px;
    background-color: #e8f8ff;
    padding: 20px;
}

/*#### Button ####*/
.button {
    background-color: rgb(0, 72, 120);
    color: rgb(216, 216, 216);
    font-size: 16px;
    padding: 20px 20px;
    margin-left: 50px;
    margin-right: 50px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
}

/*****************************************/

#idDivFooter {
    background: rgb(100,0,100);
    color: rgb(219, 219, 219);
    overflow: hidden;
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
#idFooter {
    margin: 0px;
}