.codeFont {
    font-family: monospace;
    color: green
}

body {
    margin: 0px;
    max-width: 950px;
}

#idDivStage, #idDivStageStatus {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #e8f8ff;
}

#idMainName {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 80px;
    padding-bottom: 60px;
    text-align: center;
    font-size: 200%;
    font-stretch: expanded;
}

#idHeader{
    margin: 0px;
}
#idDivHeader{
    background: rgb(100, 128, 255);
    overflow: hidden;
}

#idFooter{
    margin: 0px;
}
#idDivFooter{
    background: rgb(133, 182, 255);
    overflow: hidden;
}

#header-left {
    padding-left: 15px;
    float: left;
    text-align: center;
    vertical-align: middle;
}

#header-right {
    padding-right: 15px;
    float: right;
    text-align: center;
    vertical-align: middle;
}

#header-center {
    /*overflow: hidden;*/
    text-align: center;
    vertical-align: middle;
}

/*#####################################*/
.container {
    position: relative;
    border-radius: 5px;
    background-color: #e8f8ff;
    padding: 20px;
}

/*#### Button ####*/
.button {
    background-color: rgb(44, 65, 250);
    color: white;
    padding: 20px 20px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
}